@using TOEICReading4
<footer class="main-footer">
    <strong>&copy; @DateTime.Now.Year <a href="javascript:void(0);">TOEICReading4</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
        <b>@L("Version")</b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
    </div>
</footer>
