@using TOEICReading4.Web.Views.Shared.Components.SideBarMenu
@using TOEICReading4.Web.Views.Shared.Components.SideBarUserArea
<aside class="main-sidebar app-sidebar elevation-0">
    @await Html.PartialAsync("_SideBar.Logo.cshtml")
    <div class="sidebar">
        @await Component.InvokeAsync(typeof(SideBarUserAreaViewComponent))
        @await Component.InvokeAsync(typeof(SideBarMenuViewComponent))
    </div>
</aside>
